main {
    width: 100%;
    margin-top: 100px;
}

.back {
    background-color: #f6f5f4;
    font-size: 13px;
    padding: 10px;
}
.back a,
.back span{
    text-decoration: none;
    color: #a1a0a0;
    margin-left: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 30px;
}

.products h2 {
    font-size: 20px;
    color: #FF6C80;
    margin: 14px 0;
}

.product {

}

.product__category {
    border-bottom: 1px solid #d6d6d6;
    margin-top: 30px;
}

/*danh mục*/
.product__category ul {
    height: 200px;
    overflow: auto;
    padding-right: 10px;
}
.product__category ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Thiết lập màu nền cho phần kéo cuộn (THUMB) */
.product__category ul::-webkit-scrollbar-thumb {
    background: #888; /* Màu xám đậm */
    border-radius: 5px; /* Tùy chọn: Bo góc cho thanh cuộn */
}
/* (Tùy chọn) Thiết lập màu nền cho rãnh cuộn (TRACK) */
.product__category ul::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu xám nhạt */
}
.product__categorys ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
}
.product__categorys ul li i {
    font-size: 12px;
}
.product__categorys ul li i:hover {
    cursor: pointer;
}

/* Giá*/
.product__price {
    height: 150px;
}

/*Tuổi*/
.product__age {
    height: 130px;
}

/*giới tính*/
.product__sex {
    height: 100px;
}

/*Thương hiệu*/
.product__trademark {
    height: 220px;
}

/*   */
.product__card {

    width: 200px;
    border: 1px solid #f333 ;
    margin: 10px;
}
.product__card img {
    width: 180px;
}

/*    List sản phẩm    */
.list-product {
    flex: 1;
    margin-left: 40px;
}

.list-product__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f6f5f4;
    padding: 10px;
}

.list-product__head__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-product__head__type ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.list-product__head__type ul li {
    background: rgba(179, 179, 179, 0.2);
    margin: 6px;
    padding: 2px;
    border-radius: 100%;
}
.list-product__head__type ul li:hover {
    cursor: pointer;
    background: #FF6C80;
    transition: ease .3s;
}

.list-product__head__type ul li i {
    margin: 6px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-product__head__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-product__head__search input {
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 5px;
}
.list-product__head__search input:hover {
    cursor: pointer;
}

.list-product__head__arrange select {
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;

    padding: 8px 15px 8px 10px;
    font-size: 14px;


}
