<header class="header" id="header">
    <!-- PHẦN TRÊN: thông tin + mạng xã hội -->
    <div class="header__first">
        <div class="container">
            <div class="header__top-left">
                <a href="https://maps.app.goo.gl/nj1KfxS8ajpDxTni6" target="_blank">
                    <span><i class="fa-solid fa-location-dot"></i> Trường Đại Học Nông Lâm TPHCM</span></a>
                <a href="" target="_blank"><span><i class="fa-solid fa-envelope"></i>
                            shopstemteam22@gmail.com</span>
                </a>
            </div>
            <div class="header__top-right">
                <div class="header__phone-top">
                    <a href="" target="_blank"><span><i class="fa-solid fa-phone"></i>
                                +84 898658107</span>
                    </a>
                </div>
                <div class="header_icon-top">
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-facebook-f"></i> </a>
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-amazon"></i> </a>
                    <a href="" class="header__icon-right"> <i class="fa-brands fa-twitter"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- PHẦN DƯỚI:  menu + user -->
    <div class="header__end">
        <div class="container">
            <div class="header__end-left">
                <div class="header__logo">
                    STEMSHOP </div>
                <div class="header__nav">
                    <nav class="nav-content">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="/src/index.html">Home</a></li>
                            <li class="nav__iteam"> <a href="src/main/about.html">About </a></li>
                            <li class="nav__item"><a href="/src/pages/shop/shop.html">Shop</a></li>
                            <li class="nav__iteam"> <a href="src/content/blog.html">Blog </a> </li>
                            <li class="nav__iteam"> <a href="src/main/contact.html">Contact Us</a> </li>
                        </ul>
                    </nav>

                </div>
            </div>

            <div class="header__end-right">
                <div class="header__shop">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="header__user">
                    <a href=""><span> sigin in </span></a>
                    <a href=""><span> sigin up </span></a>
                </div>
            </div>
        </div>
    </div>
</header>